.jumbotron {
	background-image: url("../images/ysa_india2.jpg");
}

.col-md-3 img {
	width: 197px;
	height: 264px;

}


/* Rules for screen widths at 768px or lower */
/*
@media only screen and (max-width: 768px) {

}
@media screen and (max-width: 640px) {

}*/