.jumbotron {
	background-image: url("../images/ysa_india2.jpg");
}

.row img {
	width: 197px;
	height: 264px;
	float: left;
	margin: auto 20px auto auto;
}

.thumbnail img {
	width: 200px;
	height: 200px;
	margin: 25px;
}

/* Rules for screen widths at 768px or lower */
/*
@media only screen and (max-width: 768px) {

}
@media screen and (max-width: 640px) {

}*/